@font-face {
  font-family: 'fugaz';
  src: url('https://cdn.glitch.global/95373345-559a-40d9-add2-493bde4163c0/fugaz.ttf?v=1710993300443') format('truetype');
  
/*   src: url('assets/fonts/fugaz.ttf') format('truetype'); */
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

program {
  display: flex;
}

.buttons {
  margin: auto;
/*   background-color: rgb(108,112,45); */
  background-color: #00fffa88;
  color: white;
/*   float: center; */
  /* font-size: 150%; */
  font-family: "fugaz";
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons:hover {
  background-color: white;
  color: rgb(108,112,45);
}

.sinfo {
  border-radius: 24px;
}

.performer {
  text-align: center;
/*   font-size:  */
  font-family:"fugaz";
  background-color: grey;
}