/* .sliders {
  width: '40px';
} */

/* .labels {
  font-color: red;
} */

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

program {
  display: flex;
}

.buttons {
  margin: auto;
/*   background-color: rgb(108,112,45); */
  background-color: #00fffa88;
  color: white;
  /* font-size: 150%; */
/*   font-family: "fugaz"; */
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons:hover {
  background-color: white;
  color: rgb(108,112,45);
}
